<div class="container">
    <div class="row div col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="row g-3">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <label for="" class="form-label">name</label>
                <input type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <label for="" class="form-label">Aadhar Number</label>
                <input type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <label for="" class="form-label">Address</label>
                <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <label for="" class="form-label">Pincode</label>
                <input type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <label for="" class="form-label">DOB</label>
                <input type="date" name="" id="">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <label for="" class="form-label">Email id</label>
                <input type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <label for="" class="form-label">phone Number</label>
                <input type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <label for="" class="form-label">User name</label>
                <input type="text" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <label for="" class="form-label">Password</label>
                <input type="password" name="" id="" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <label for="" class="form-label">Confirm Password</label>
                <input type="password" name="" id="" class="form-control">
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <button class="btn btn-success">Submit</button>
            </div>
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-lg-12">
                <a class="btn btn-success" href="ulogin" >click here to Login</a>
            </div>
        </div>
    </div>
</div>